@media (min-width: 1501px) {
  .recipe {
    max-width: unset;
    min-width: unset;
    width: 31%;
  }
}

@media (max-width: 1499px) {
  #recipes-container {
    justify-content: space-between;
    gap: 40px 0;
  }
  .recipe {
    max-width: unset;
    min-width: unset;
    width: 48%;
  }
  .dropDownMenus-container .dropDownMenus-container_1 {
    width: 100%;
  }
}

@media (max-width: 990px) {
  .menuNav--searchInput_glass {
    bottom: 60px;
  }
  #recipes-container {
    padding-top: 20px;
  }
  .recipe {
    max-width: unset;
    min-width: unset;
    width: 100%;
  }

  .menuNav--searchInput {
    margin-bottom: 10px;
  }

  #dropDownMenus-container {
    flex-direction: column;
    position: relative;
    gap: 10px;
    width: 100%;
  }

  .dropDownMenus-container {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .dropDownMenus--input {
    width: 100%;
  }

  .dropDownMenus--chevronDown {
    color: #fff;
    right: 30px;
    top: unset;
    bottom: 40px;
  }

  .dropDownMenus--input_active {
    width: unset;
    width: 100%;
    &_list {
      li {
        max-width: 160px;
      }
      &_ing {
        max-height: unset;
      }
    }
  }

  .dropDownMenus--input_active {
    &_appliance,
    &_ustensils {
      max-width: unset;
      max-width: 800px;
    }
  }
}

// mobiles

@media (max-width: 700px) {
  body {
    padding: 20px;
  }

  .recipe--information {
    min-height: unset;

    &_name {
      display: block;
      text-align: center;
    }
    &_time {
      display: block;
      float: unset;
      text-align: center;
      margin-top: 5px;
    }
    &--text {
      min-height: unset;
      max-height: 60px;
      overflow: hidden;
      &_list {
        min-width: 110px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-overflow: "...";
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
      &_instructions {
        overflow: hidden;
        text-overflow: ellipsis;
        text-overflow: "...";
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
}
